<title>Suma de dos numeros</title>
<body>
    Numero 1<input type="text" id="a"><br>
    Numero 2<input type="text" id="b"><br>
    <input type="button" value="Sumar" onclick="sumar()"><br>
    Respuesta<input type="text" id="r">
    <script src="suma.js"></script>
</body> 